<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        h4 {
            padding-top: 15px;
        }
        h3 {
            padding: 20px;
        }
        .alert.alert-info.mt-2 {
            padding: 30px;
        }
        .end-image{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <div class="container mt-5">
        <h3 align="center">
            МЫ - СООБЩЕСТВО ВОЛОНТЕРОВ МОСКОВСКОГО ПРИЮТА ДЛЯ БЕЗДОМНЫХ ЖИВОТНЫХ
        </h3>
        <div class="alert alert-info mt-2">
            <p>
                Наш приют - это дом для бездомных собак и кошек в  г. Москва.
            </p>
            <p>
                В нем живет почти 150 собак и 50 кошек.
            </p>
            <p>
                Большие и маленькие, пушистые и гладкие, веселые и задумчивые - и на всех одна большая мечта - встретить своего Человека и найти Дом.
            </p>
        </div>
        <h4>Взять домой</h4>
        <div class="alert alert-info mt-2">
            <p>
                Если вы хотите взять собаку или кошку, не ищите питомник, в котором можно купить щенка или котенка - просто свяжитесь с нами, и вы обязательно найдете себе самого лучшего друга.
            </p>
            <p>
                Во всем мире это уже стало доброй традицией - человек, который решил завести питомца, обращается в приют, чтобы подарить заботу и любовь тому, кто уже появился на свет, но ему почему-то досталась нелегкая судьба.
            </p>
            <p>
                Мы поможем вам выбрать животное с учетом ваших пожеланий и предпочтений, с радостью познакомим со всеми нашими собаками и кошками.
            </p>
            <p>
                Все наши питомцы привиты и стерилизованы.
            </p>
            <p>
                Наш приют - это не питомник, поэтому у нас не бывает породистых собак с родословной. Но беспородных щенков, подростков и молодых собак очень много и поверьте, что такой выбор вполне оправдан по многим причинам.
            </p>
        </div>
        <h4>Помочь приюту</h4>
        <div class="alert alert-info mt-2">
            <p>
                Нашим питомцам нужна ваша помощь! Вы можете сделать их жизнь лучше.
            </p>
            <p>
                Приюту всегда требуются корма, поводки и ошейники, лекарства, материальная и информационная поддержка.
            </p>
            <p>
                А еще нашим собакам и кошкам очень нужна ласка и общение с человеком, поэтому мы всегда рады новым волонтерам.
            </p>
        </div>
        <h4>Как связаться с нами</h4>
        <div class="alert alert-info mt-2">
            <p>
                Если вы выбрали питомца на нашем сайте, то для связи с волонтерами приюта вы можете отправить письмо на почтовый ящик ihavepaws@mail.ru или позвонить нам по номеру +79283151436.
            </p>
            <p>
                Опишите критерии, по которым вы выбираете, и мы обязательно вам ответим и договоримся о времени визита в приют, где покажем вам подходящих питомцев.
            </p>
            <p>
                Мы - сообщество волонтеров и находимся в приюте нерегулярно. Поэтому просим вас планировать ваш визит заранее и приезжать только договорившись о встрече по почте или телефону.
            </p>
        </div>
        <div class="end-image">
            <img src="" th:src="@{/images/welcome.jpg}" alt="welcome">
        </div>

    </div>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>