<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <style>
        .img-responsive{
            max-height: 200px;
            object-fit: cover;
        }
    </style>
</head>
    <body>
    <header th:insert="blocks/header :: header"></header>
    <div class="container mt-5">
        <h1 style="padding-bottom: 20px;">Полезно знать каждому хозяину</h1>
        <div class="row">
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article6.png}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Стоит ли заводить собаку?</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article5.png}"alt="...">
                <div class="card-body">
                    <h5 class="card-title">Как кормить щенка?</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article1.png}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Адаптация собаки из приюта</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article3.png}"alt="...">
                <div class="card-body">
                    <h5 class="card-title">Как познакомить котенка с другими питомцами?</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article2.png}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Как правильно гулять со щенком?</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
            <div class="card" style="width: 22rem;">
                <img class="img-responsive card-img-top" th:src="@{/images/article4.png}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">О чём думает ваш кот?</h5>
                    <a href="#" class="btn btn-warning">Читать</a>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>