<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пуша</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div class="alert alert-info mt-2">
        <div class="img-center">
            <img class="img-responsive" th:src="@{/images/pusha.png}" alt="photo"/>
        </div>
        <h3>Пуша</h3><br>
        <blockquote class="blockquote">
            <p class="mb-0">
                <p>Нашу замечательную кошечку мы взяли в приюте в марте 2021 года, ей на тот момент было всего полгода.</p>
                <p>Пуша оказалась очень застенчивым котёнком, ей потребовалось около недели, чтоб к нам привыкнуть.</p>
                <p>Сейчас она освоилась и прекрасно ладит с нами.</p>
                <p>Все трое наших деток обожают Пушу и очень любят с ней играть и никогда не обижают.</p>
                <p>К слову, Пуша очень тактично себя ведёт с детьми - не царапает и не кусает, даже когда устаёт от их обильного внимания.</p>
                <p>У Пуши прекрасный характер, она очень умная, ласковая и добрая. Мы всей семьей привязались к ней и очень любим её!</p>
            </p>
            <footer class="blockquote-footer" style="font-size: 18px">Анна, хозяйка Пуши</footer>
        </blockquote>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>