<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Барон</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div class="alert alert-info mt-2">
        <div class="img-center">
            <img class="img-responsive" th:src="@{/images/baron.png}" alt="photo"/>
        </div>
        <h3>Барон</h3><br>
        <blockquote class="blockquote">
            <p class="mb-0">
            <p>Барон НАКОНЕЦ-ТО нашел свою семью! Его приютские опекуны до сих пор не нарадуются.</p>
            <p>Весёлый, общительный, умный, знающий основные команды - Барон долго сидел в приюте.</p>
            <p>Может быть потому, что на черных собак обращают меньше внимания, а может из-за своего крупного размера.... Хотя, порой, в таких собаках скрывается огромный потенциал.</p>
            <p>Вот и наш крупный черный Барон долго пробыл в приюте без внимания.</p>
            <p>И, о, чудо! Приехала семья и разглядела в Бароне СВОЮ собаку.</p>
            <p>Теперь Барон живет за городом, гуляет в лесу, охраняет территорию и радует хозяев каждый день!</p>
            <p>А ещё хозяева Барона активно взялись за его развитие. Так что он учит новые команды, а также знает, кто в семье главный по дисциплине, а с кем можно "договориться" ;)</p>
            <p>И, по секрету (всему свету:)), хозяева очень довольны своим решением взять именно взрослую собаку.</p>
            <p>Пятилетний Барон быстро выучил домашние правила, понял как вести себя со всеми членами семьи. Например, пожилая свекровь спокойно с ним гуляет, а он уже знает, что с ней нужно идти не спеша и не безобразничать. </p>
            </p>
        </blockquote>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>