<header th:fragment="header"
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="menu">
        <a href="/" style="padding-right: 30px"><img th:src="@{/images/logo.png}" alt="logo"></a>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2" href="/">Главная</a>
            <a class="p-2" href="/blog" style="margin-right: 0;">Наши подопечные</a>
            <a class="p-2" href="/add" th:if="${addNews!='unauth'}" th:text="${addNews}" style="margin-right: 0;" ></a>
            <a class="p-2" href="/help">Как помочь</a>
            <a class="p-2" href="/articles">Статьи</a>
            <a class="p-2" href="/about">О нас</a>
            <a class="p-2" href="/contact">Контакты</a>
        </nav>
        <form class="p-2" sec:authorize="!isAuthenticated()" action="/auth/login">
            <button id="logout" type="submit">Войти</button>
        </form>
    </div>
</header>